django
djangorestframework
python-multipart
faster-whisper
numpy
matplotlib
reportlab
moviepy==1.0.3
nltk
polars
scipy
librosa
spacy>=3.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
requests
openai
opencv-python
mediapipe
shapely
aiofiles
